<h1>Your bookings</h1>
<table>
  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.starting_date %></td>
        <td><%= booking.field.name %></td>
        <td><%= link_to 'delete', booking_path(booking), method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>



