  <!--Tablist on top of home page -->
 <div class="tablist" style="">
  <label for="Fields to rent">
    <input>
  </label>
  <label for="Experiences">
    <input type="" id="" name="">
  </label>
 </div>

<!--Data panel on top of home page -->
<div class="Data_panel">
 <div class="Destination">
  <div class="Location">
   <input class="Where are you going?">
  </div>
  <div role="button" tabindex="0">
    <div class="Date1">Check-in</div>
    <div class="Added_date">Add dates</div>
  </div>
  <div role="button" tabindex="0">
    <div class="Date1">Check-out</div>
    <div class="Added_date">Add dates</div>
  </div>
  <div class="search-button">
    <button class="search-button" type="button">
    </button>
  </div>
 </div>
</div>
