 <div class="text-center">
  <img src="app/assets/images/logo_small.png">
  <h1>BUZZ</h1>
 </div>

<!--Tablist on top of home page -->
 <div class="row-navbar">
  <ul>
    <li> <%= link_to "Fields to rent", "/fields" %> </li>
    <li> <%= link_to "Rent your field", "/fields/new" %> </li>
    <li> <a href="">Experiences</a> </li>
    </ul>
 </div>


<!--Data panel on top of home page -->
<div class="Data_panel">
  <h2>Search</h2>
 <ul>
    <li> <a href="">Location</a> </li>
    <li> <a href="">Check-in</a> Add dates</li>
    <li> <a href="">Check-out</a> Add dates</li>
    <li> <a href="">Search</a> </li>
 </ul>
</div>
