<div class="banner" style="background-image: url('<%= image_path "background.png" %>');">
  <div class="container">
    <h1><strong>Looking for a place to bee</strong>?</h1>
    <p>You have space for bees to thrive but no hive?<br>
      Got bees but nowhere to be?</p>
    <p>BUZZ brings you together</p>
    <div>
      <%= link_to "Fields to rent", 'fields', class: "btn btn-warning" %>
      <%= link_to "Rent your field", 'fields/new', class: "btn btn-warning" %>
    </div>
  </div>
</div>