<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>BUZZ landing page</title>
  <link rel="" href="" type="">
  <%=image_tag "logo_small.png"%>
 </head>

 <body>
  <div class="text-center">
   <h1>BUZZ</h1>
   <p>Click to start your journey</p>
   <a href="" class="btn-start">Start now</a>
  </div>
 </body>
</html>
