// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";


// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


h1,h2,h3,p,a{
    color: 333;
  }

h1{
    font-size: 56px;
}
p{
    font-size: 16px;
    color: #333;
}