<div class="container">
  <div class="cards mt-5">
  <% @fields.each do |field| %>
<div class="card-trip pb-3" >
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
     <h2><%= field.name %></h2>
     <p><%= field.description %></p>
    </div>
    <h2 class="card-trip-pricing"><%= field.price %>€/month</h2>
  </div>
   <%= link_to 'Details', field_path(field), class: "m-3 btn btn-warning" %>
</div>
   <% end %>
</div>
</div>



